@{
    ViewData["Title"] = "Home Page";
}
@*<div class="text-center">
        <h1 class="display-4">Create Company</h1>

        <company-profile></company-profile>

    </div>
    <div class="text-center">
        <h1 class="display-4">View Company</h1>


        <company-profile-list></company-profile-list>
    </div>*@

@*<div class="text-center">
    <h1 class="display-4">Supplier</h1>

    <suppliers-profile></suppliers-profile>

</div>
<div class="text-center">
    <h1 class="display-4">Supplier List</h1>


    <suppliers-profile-list></suppliers-profile-list>
</div>*@

<div class="text-center">
    <h1 class="display-4">Stock Item</h1>

    <item-profile></item-profile>

</div>
<div class="text-center">
    <h1 class="display-4">Stock Item List</h1>


    <item-profile-list></item-profile-list>
</div>