@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Create Company</h1>

    <company-profile></company-profile>

</div>
<div class="text-center">
    <h1 class="display-4">View Company</h1>


    <company-profile-list></company-profile-list>
</div>

@*<div class="text-center">
    <h1 class="display-4">Create Company</h1>

    <supplier-profile></supplier-profile>

</div>
<div class="text-center">
    <h1 class="display-4">View Company</h1>


    <supplier-profile-list></supplier-profile-list>
</div>*@