
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="display-4 text-center">Stock Receipt</h1>
<div>
    <stock-receipt-profile></stock-receipt-profile>
</div>