
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <div class="text-center">
    <h1 class="display-4">Register Supplier</h1>
    <supplier-profile></supplier-profile>
</div>

