
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Register Supplier</h1>
<div>
    <supplier-profile></supplier-profile>
</div>

<h1 class="text-center">View Suppliers</h1>
<div>
    <supplier-profile-list></supplier-profile-list>
</div> 