@{
    ViewData["Title"] = "Home Page";
}




<div class="text-center">
    <h1 class="display-4">Hicad Stock Control System</h1>
</div>

<!-- Requisition Approval -->
@*<div class="text-center">
    <h1 class="display-4">Requisition Approval Form</h1>
    <approval-profile></approval-profile>
</div>*@
<!-- <div class="text-center">
    <h1 class="display-4">Requisition Request List</h1>
    <request-profile-list></request-profile-list>
</div> -->
