@{
    ViewData["Title"] = "Home Page";
}

<!-- <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <first-component></first-component>
</div> -->

<!-- company -->
<!-- <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <company-profile></company-profile>
</div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <company-profile-list></company-profile>
</div> -->

<!-- supplier -->
<!-- <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <supplier-profile></supplier-profile>
</div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <supplier-profile-list></supplier-profile>
</div> -->

<!-- stock item -->
<!-- <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <item-profile></item-profile>
</div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <item-profile-list></item-profile>
</div> -->

<!-- Requisition Request -->
<div class="text-center">
    <h1 class="display-4">Requisition Request Form</h1>
    <request-profile></request-profile>
</div>
<div class="text-center">
    <h1 class="display-4">Requisition Request List</h1>
    <request-profile-list></request-profile>
</div>
