@{
    ViewData["Title"] = "Home Page";
}




@*<div class="text-center">
    <h1 class="display-4">HICAD SYSTEMS LIMITED</h1>
    <h3>39, 0SOLO-WAY, AJAO ESTATE, LAGOS.</h3>
</div>*@

<!-- Requisition Approval -->
@*<div class="text-center">
    <h1 class="display-4">Requisition Approval Form</h1>
</div>*@
    <first-component></first-component>
<!-- <div class="text-center">
    <h1 class="display-4">Requisition Request List</h1>
    <request-profile-list></request-profile-list>
</div> -->
