
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h1 class="text-center">Register Stock Item</h1>
<div>
    <item-profile></item-profile>
</div>*@

@*<h1 class="text-center">Stock Item List</h1>*@
<div>
    <item-profile-list></item-profile-list>
</div>
