
@{
    ViewData["Title"] = "GetAllCompany";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Company List</h1>
    <company-profile-list></company-profile-list>
</div> 
