
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Register Company</h1>
<br />
 <div>
    <company-profile></company-profile>
</div>

@*<h1 class="display-4">Company List</h1>
<br />
 <div class="text-center">
     <company-profile-list></company-profile-list>
 </div>*@

