
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <div class="text-center">
    <h1 class="display-4">Register Company</h1>
    <company-profile></company-profile>
</div>

