
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Register Company</h1>
<br />
 <div>
    <company-profile></company-profile>
</div>
<br>
<br>
<br>

 @*<div class="page-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>View Company</h5>
                        </div>
                        <div class="card-block">
                             <company-profile></company-profile>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

        <div class="page-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>View Company</h5>
                        </div>
                        <div class="card-block">
                            <company-profile-list></company-profile-list>
                        </div>
                    </div>
                </div>
            </div>
        </div>
