
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1 class="text-center">Register Stock Class</h1>
<div>
    <stock-class></stock-class>
</div>


<h1 class="text-center">Stock Class List</h1>
<div>
    <stock-class-list></stock-class-list>
</div>
