
@{
    ViewData["Title"] = "GetAllRequisitionForApproval";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Requisition Approval Form</h1>
    <approval-profile></approval-profile>
</div>

