
@{
    ViewData["Title"] = "GetAllRequisitionForApproval";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="display-4 text-center">Requisition Approval Form</h1>
<div>
    <approval-profile></approval-profile>
</div>

