
@{
    ViewData["Title"] = "GetAllStockRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Stock Request List</h1>
    <request-profile-list></request-profile-list>
</div> 

