@using HicadStockSystem.Controllers.ResourcesVM.AcountVM;
@model LoginViewModel;
@{
    var error = TempData["errorMessage"];
    var success = TempData["successMessage"];
    Layout = null;
   
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StockControl</title>


    <style>

        body {
            opacity: 0;
        }
    </style>
    <script src="~/js/settings.js"></script>
</head>

<body>


    <div id="app">


        <main class="main h-100 w-100">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
                        <div class="d-table-cell align-middle">

                            <div class="text-center mt-4">
                                <h1 class="h1">Stock Control</h1>
                               

                            </div>

                            <div class="card">
                                <div class="card-body">
                                    <div class="m-sm-4">
                                        <div class="text-center">
                                            KC
                                        </div>
                                        <div class="text-success">
                                            @ViewBag.message
                                            <h4 class="text-danger"> @TempData["ErrorMessage"]</h4>
                                        </div>
                                        
                                       
                                        <form class="form-horizontal form-material" id="loginform" asp-controller="authentication" asp-action="login">

                                            <br />
                                            <login-component></login-component>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 text-right">
                <p class="mb-0">
                    &copy; @DateTime.Now.Year - <a href="dashboard-default.html" class="text-muted">Hicad Systems Ltd</a>
                </p>
            </div>
        </main>
    </div>
        <script src="~/js/app.js"></script>
        <script src="~/dist/app.js" asp-append-version="true"></script>
</body>
</html>
